<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1><%= @question.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">    
      <% if @question.voted_by? current_user %>
          <%= link_to question_vote_path(@question), method: :delete, class: "d-flex flex-column align-items-center mx-2 my-2" do %>                             
          <span class="fas fa-sort-down brand-tomato"></span>         
          <span class="brand-black"><%= @question.votes.count %></span>                  
        <% end %>
        <% else %>
        <%= link_to question_vote_path(@question), method: :post, class: "d-flex flex-column align-items-center mx-2 my-2" do %>          
          <span class="fas fa-sort-up brand-black"></span>         
          <span class="brand-black"><%= @question.votes.count %></span>
        <% end %>
      <% end %>       
    </div>
    <div class="col-md-8">
      <p><%= markdown(@question.content) %></p>
      <p>
        <%= link_to 'Remove   -', @question, method: :delete, data: { confirm: 'Esta seguro de eliminar la pregunta?' } %>
        <%= link_to  "Volver   -", questions_path %>    
        <%= link_to 'Edit', edit_question_path, method: 'get'%>
      </p>
      <h2>Comentarios</h2>
      <br>
      <div id="comment_list">
          <%= render @question.comments %>
      </div>
      <% if user_signed_in? %>  
      <%= render  "comments/form", commentable: @question %>
      <% end %> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h2><span class="ans-quantity"><%= @question.answers.count %></span> Respuesta(s)</h2>      
      <br>
    </div>
  </div>
  <div class="answer_list">
    <%= render @question.answers.order(created_at: :asc) %>
  </div>
  <div class="row">
    <div class="col-md-8 offset-1">
      <% if user_signed_in? %> 
        <%= render  "answers/form" %>
      <% end %> 
    </div>    
  </div>
</div>




