
<div>  
  <h1><%= @question.title %></h1>
  <p>"<%= @question.content %>"</p>

  <p>
    <%= link_to 'Remove   -', @question, method: :delete, data: { confirm: 'Esta seguro de eliminar la pregunta?' } %>
    <%= link_to  "Volver   -", questions_path %>    
    <%= link_to 'Edit', edit_question_path, method: 'get'%>
  </p>

</div>


<div>
  <h2>Respuestas</h2>
  <br>
  <div class="answer_list">
      <%= render @question.answers.order(created_at: :asc) %>
  </div>

  <%= render  "answers/form" %>

</div>



