<div id="answer-id-<%= answer.id%>" class="container"> <!-- Creo un div con el id de la respuesta para después poder manipular esta única respuesta -->
  <div class="row">
    <div class="col-md-1">
      <% if answer.voted_by? current_user %>
          <%= link_to answer_vote_path(answer), method: :delete, class: "d-flex flex-column align-items-center mx-2 my-3" do %>                             
            <span class="fas fa-sort-down brand-tomato"></span>         
            <span class="brand-black"><%= answer.votes.count %></span>                  
            <% end %>
        <% else %>
          <%= link_to answer_vote_path(answer), method: :post, class: "d-flex flex-column align-items-center mx-2 my-3" do %>          
            <span class="fas fa-sort-up brand-black"></span> 
            <span class="brand-black"><%= answer.votes.count %></span>
            <% end %>
      <% end %> 
    </div>
    <div class="col-md-9">
        <div>
          <p>
            <%= markdown(answer.content) %>
            <% if user_signed_in? && current_user == answer.user %>
              <span> <%= link_to  "   Eliminar", [@question, answer], method: :delete,remote: true, data: { confirm: 'Esta seguro de eliminar la respuesta' } %> </span>
            <% end %>
          </p>
        </div>
        <div id="answer_comment_list">
          <%= render  answer.comments %>  
        </div>      
        <% if user_signed_in? %>
          <div id="anscom-box" class="pb-2">
            <%= render  "comments/form", commentable: answer %>
          </div>
        <% end %>
    </div>
  </div>   
</div>


