<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverstack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "layouts/flash_messages" %>   
    
    <div class="container">
        <div class="row text-right mt-2">
          <div class="col">

            <% if !(user_signed_in?) %> 
                <%= link_to  "Registrarse", new_user_registration_path, class: "mr-4" %> 
                <%= link_to  "Ingresar", new_user_session_path %> <br>  
                <% else %> 
                <div>
                  <p>
                    <span class="mr-3"> Hola <%=  current_user.email %> </span>
                    <%= link_to  "Salir", destroy_user_session_path, method: :delete %>
                  </p>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    <%= yield %>
    
    <script>
      $('.alert').slideUp(2000);
    </script>
  </body>
</html>
